.Side-bar
  .Side-bar__user-name
    .top-items
      .Top-items__name
        kaataa
      .Top-items__icons
        = link_to "#" , class: "Top-items__btn" do
          = icon('far', 'edit')
        = link_to "#" , class: "Top-items__btn" do
          = icon('fas', 'cog')
  .Side-bar__group-list
    %ul.Groups
      %li.GroupName hogehoge
      %li.GroupMessage まだメッセージはありません