.Chat-main {
  width: calc(100vw - 300px);
  height: 100vh;
  &__group-info {
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info__name{
      display: flex;
      flex-direction: column;
      padding: 20px 0 0 40px;
      .info__name__group{
        color: #333333;
        font-size: 20px;
        padding-bottom: 15px;
      }
      .info__name__member{
        color: #999999;
        font-size: 12px;
      }
    }
    .info__btn {
      font-size: 16px;
      margin: 20px 40px 20px 20px;
      .edit__btn {
        color: #38aef0;
        text-decoration: none;
        border: 1px solid #38aef0;
        padding: 10px 20px;
      }
    }
  }
  &__Message-list {
    width: calc(100vw - 300px);
    height: calc(100vh - 190px);
    background-color: #fafafa;
    overflow: scroll;
      .main__messages{
        display: flex;
        flex-direction: column;
        padding: 35px 0 0 40px;
        .name__day{
          display: flex;
          .user__name{
            color: #333333;
            font-size: 16px;
          }
          .day__time{
            color: #999999;
            font-size: 12px;
          }
        }
        .message{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 46px;
        }
      }
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    padding: 20px 50px 20px 40px;
    .form-contents{
      display: flex;
    
      .Form__inputBox{
        display: flex;
        
        .text-form{
          padding: 0 50px 0 15px;
          height: 50px;
          width: calc(100vw - 510px);
          border: none;
        }
        .parent {
          position: relative;
          .text-icon{
            position: absolute;
            right: 20px;
            top: 15px;
          }
          .Hidden{
            display: none;
            }
        }         
      }
    }
    .Form__submit{
      padding: 0 30px;
      margin-left: 15px;
      color: #fff;
      font-size: 16px;
      background-color: #38aef0;
      border: none;
    }
}
}




